<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>65791481698-u8hnpv74c1dg4cp95trvc925qmoq37ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65791481698-u8hnpv74c1dg4cp95trvc925qmoq37ao</string>
	<key>API_KEY</key>
	<string>AIzaSyA4HAC1C8vpcgr-pLDX7keov73dUH3qtLA</string>
	<key>GCM_SENDER_ID</key>
	<string>65791481698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doronkatz.firebaseDo</string>
	<key>PROJECT_ID</key>
	<string>fir-do</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-do.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:65791481698:ios:faa77e150f11ebff</string>
	<key>DATABASE_URL</key>
	<string>https://fir-do.firebaseio.com</string>
</dict>
</plist>